.wp-block-table {

	table {

		&:not(.has-border-color) {
			td, th {
				border-color: var(--theme-table-border-color, var(--theme-border-color));
			}
		}
	}

	&.is-style-stripes {
		border: 0;

		tbody tr:nth-child(odd) {
			background-color: var(--theme-palette-color-6);
		}
	}
}